.sideMenu {
  width: 60px;
  background-color: black;
  box-shadow: 0 0 20px #000;
  display: flex;
  flex-direction: column;
}

.collapsed {
  position: fixed;
}

.collapse {
  border: none;
  background-color: black;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.icon {
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}
